.friends-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.friends-list {
    width: 60%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.friends-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.friend-card {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.add-friend-section {
    width: 30%;
    margin-left: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-friend-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add-friend-section input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-friend-section button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.friends-requests {
    width: 30%;
    margin-left: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.accept-btn, .reject-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reject-btn {
    background-color: #f44336;
}